.btn {
  appearance: none;
  background-color: $topaz;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba($black, .24), 0 0 2px 0 rgba($black, .12);
  color: $white !important;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: 1.43;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: rgba($topaz, .8) !important;
    color: $white !important;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;

    &:hover {
      background-color: $topaz;
    }
  }

  &--white {
    background-color: $white;
	  border: solid 1px $topaz;
    box-shadow: none;
    color: $topaz !important;

    &:hover {
      color: $white !important;
    }
  }
}
