body {
  background: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  overflow-x: hidden;

  .container {
    max-width: 1024px !important;
  }

  .row {
    margin: 0;
  }

}

#{$headings} {
  font-family: $heading-font-family;
  font-weight: 400;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  @include transition(all .3s);
  color: $action-color;
  text-decoration: none;
  transition: color .1s linear;

  &:active,
  &:focus,
  &:hover {
    color: rgba($action-color, .4) !important;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: 20px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
