.services {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  width: 100%;

  figure,
  img {
    float: left;
    min-height: 426px;
    vertical-align: bottom;
    width: 100% !important;
  }

  &__general {
    float: left;
    width: 100%;

    @include mobile(small) {
      width: 100%;
    }
  }

  &__group {
    float: left;
    max-height: 426px;
    width: 100%;

    @include mobile(small) {
      max-height: 100%;
      width: 100%;
    }
  }

  &__image {
    float: left;
    margin: 0;
    width: 50%;

    @include mobile(small) {
      max-height: 213px;
      width: 100%;
    }

    &--right {
      float: right !important;
    }

  }

  &__content {
    background-color: $denim;
    float: left;
    height: 100%;
    max-height: 426px;
    min-height: 426px;
    padding: 60px 50px;
    width: 50%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;

    @include mobile(small) {
      justify-content: space-around;
      max-height: 100%;
      min-height: auto;
      padding: 60px 20px;
      width: 100%;
    }
  }

  &__title {
    color: $white;
  	font-size: 36px;
  	font-weight: bold;
  	margin-bottom: 25px;

    @include mobile(small) {
      font-size: 28px;
    }
  }

  &__description {
    color: $white;
    font-size: 16px;
  }

  &__button {
    color: $white;
  	font-size: 16px;
  	font-weight: 600;
  	line-height: 1.25;
  	letter-spacing: normal;
    max-width: 220px;
    padding: 12px 22px;
    text-align: center;

    @include mobile(small) {
      margin-top: 20px;
    }
  }
}
