.moment-data {
  max-height: 470px;

  figure,
  img {
    float: left;
    min-height: 329px;
    vertical-align: bottom;
    width: 100% !important;
  }

  figure {
    height: 330px;
  }

  &__title {
    color: $dark2;
    font-size: 22px;
    font-weight: bold;
    margin: 32px 0;
    text-align: center;
  }

  &__box {
    float: left;
    margin: 0;
    position: relative;
    width: 50%;

    height: 100%;
    min-height: 470px;
    max-height: 470px;
  }

  &__sticker {
    background-color: $topaz;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: $white;
  }

  &__infos {
    background-color: $bluegrey-two;
    float: left;
    height: 140px;
    padding: 20px 40px;

    &__title {
      color: $white;
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__date {
      color: $cloudy-blue;
      font-size: 12px;
    }
  }

  &__data-list {
    background-color: $dark2;

  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    border-bottom: 1px solid rgba($white, .05);
    color: $white !important;
    font-size: 14px;
    padding: 20px 55px 20px 55px;

    &::after {
      content: url('../../img/chevron-right.svg');
      color: $topaz;
      float: right;
      position: relative;
      width: 9px;
      height: 14px;
      top: -8px;
      right: -25px;
    }

    a {
      color: $white;

      &:hover {
        color: $topaz !important;
      }
    }

    &:hover {
      border-left: 4px solid $topaz;
      padding-left: 51px;

      a {
        color: $topaz !important;
        text-decoration: none;
      }
    }

    &--selected {
      border-left: 4px solid $topaz;
    }
  }

  &__btn-list {
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 20px 0 0;
    padding: 10px 20px;
  }
}
