// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

@import "bootstrap";

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
}
.starter-template {
  font-family: $font-family-base;
  padding: 40px 15px;
  text-align: center;

  &:before {
    content: '_|_';
  }
}

.page-header {
  color: $brand-warning;
  float: left;
}
