{% extends "avec/layout.html" %}

{% load staticfiles %}

{% block content %}
  <section class="banner-search">
    <div class="container">
      <div class="row">
        <div class="banner-search__text">
          <h2 class="banner-search__title">Encontre fácilmente todos dados para suas pesquisas</h2>
          <p class="banner-search__subtitle">Indicadores, estatisticas e previsões baseadas em informações ativas e descobertas continuas.</p>
        </div>
        <div class="banner-search__search">
          <form action="" class="banner-search__form">
            <input class="banner-search__input-search" type="text" placeholder="Encontre estatisticas, dados e estudos" />
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="brands">
    <div class="container">
      <div class="row">
        <h2 class="brands__title">Estas e outras fontes que você confia num só lugar</h2>
        <ul class="brands__list">
          <li class="brands__item"><img src="{% static 'img/brands/logo-ibge.svg' %}" alt="IBGE" /></li>
          <li class="brands__item"><img src="{% static 'img/brands/logo-onu.svg' %}" alt="ONU" /></li>
          <li class="brands__item"><img src="{% static 'img/brands/logo-fiesp.svg' %}" alt="FIESP" /></li>
          <li class="brands__item"><img src="{% static 'img/brands/logo-cnpq.svg' %}" alt="CNPQ" /></li>
          <li class="brands__item"><img src="{% static 'img/brands/logo-minis-saude.svg' %}" alt="Ministério da Saúde" /></li>
        </div>
      </div>
    </div>
  </section>

  <section class="services">
    <div class="services__general">
      <div class="services__group">
        <div class="services__image">
          <figure>
            <img src="{% static 'img/service-2.png' %}" alt="Serviço" />
          </figure>
        </div>
        <div class="services__content">
          <h2 class="services__title">Mais de 120 bases de dados integradas</h2>

          <p class="services__description">DATA LAKE (lago de dados), com dados, séries históricas e informações sobre os diversos temas e obtidos de fontes oficiais em diversos espaços temporais (algumas séries com mais de 20 anos)</p>

          <a href="#" class="services__button btn">Ver lista de assuntos</a>
        </div>
      </div>
      <div class="services__group">
        <div class="services__image services__image--right">
          <figure>
            <img src="{% static 'img/service-2.png' %}" alt="Serviço" />
          </figure>
        </div>
        <div class="services__content">
          <h2 class="services__title">Mais de 120 bases de dados integradas</h2>

          <p class="services__description">DATA LAKE (lago de dados), com dados, séries históricas e informações sobre os diversos temas e obtidos de fontes oficiais em diversos espaços temporais (algumas séries com mais de 20 anos)</p>

          <a href="#" class="services__button btn">Ver lista de assuntos</a>
        </div>
      </div>
    </div>
  </section>

  <section class="moment-data">
    <div class="moment-data__general">
      <h2 class="moment-data__title">Os dados mais relevantes do momento</h2>
      <div class="moment-data__graphic moment-data__box">
        <span class="moment-data__sticker">automobilistica</span>
        <figure>
          <img src="{% static 'img/moment-data.png' %}" alt="Automobilistica">
        </figure>
        <div class="moment-data__infos">
          <h2 class="moment-data__infos__title">Frota de automóveis e motocicleta Outubro/2016 - Brasil e grandes regiões</h2>
          <p class="moment-data__infos__date">por AVEC Ciência de Dados em 05/02/2017</p>
        </div>
      </div>
      <div class="moment-data__data-list moment-data__box">
        <ul class="moment-data__list">
          <li class="moment-data__item"><a href="">Importacoes brasileiras de vinhos e espumantes
Importações em milhões de litros - 2010 a 2015</a> <a href="" class="moment-data__arrow-btn"></a></li>
          <li class="moment-data__item"><a href="">Importacoes brasileiras de vinhos e espumantes
Importações em milhões de litros - 2010 a 2015</a> <a href="" class="moment-data__arrow-btn"></a></li>
          <li class="moment-data__item"><a href="">Importacoes brasileiras de vinhos e espumantes
Importações em milhões de litros - 2010 a 2015</a></li>
          <li class="moment-data__item"><a href="">Importacoes brasileiras de vinhos e espumantes
Importações em milhões de litros - 2010 a 2015</a></li>
          <li class="moment-data__item"><a href="">Importacoes brasileiras de vinhos e espumantes
Importações em milhões de litros - 2010 a 2015</a></li>
        </ul>
        <a href="" class="moment-data__btn-list btn">Ver lista de assuntos</a>
      </div>
    </div>
  </section>

  <section class="plans">
    <div class="container">
      <div class="row">
        <h2 class="plans__title">Um plano feito sob medida para você</h2>
        <div class="plans__group">
          <div class="plans__box">
            <h3 class="plans__price-title">Plano Básico</h3>
            <div class="plans__price">
              Grátis
            </div>
            <ul class="plans__list">
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos básico</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Estatísticas e infográficos premium</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Download de conteúdos</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Infográficos personalizados *</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Montagem de retratos setoriais *</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Integração com bases próprias</a>
              </li>
            </ul>
            <a href="" class="plans__sign btn btn--blue">Cadastre-se grátis</a>
          </div>
          <div class="plans__box">
            <h3 class="plans__price-title">Plano Individual</h3>
            <div class="plans__price"><span class="plans__currency">R$</span>30<span class="plans__time">/mês</span></div>
            <ul class="plans__list">
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos básico</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos premium</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Download de conteúdos</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Infográficos personalizados *</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Montagem de retratos setoriais *</a>
              </li>
              <li class="plans__item plans__item--no-selected">
                <a href="" class="plans__link">Integração com bases próprias</a>
              </li>
            </ul>
            <a href="" class="plans__sign btn">Assine agora</a>
          </div>
          <div class="plans__box">
            <h3 class="plans__price-title">Plano Empresarial</h3>
            <div class="plans__price"><span class="plans__currency">R$</span>150<span class="plans__time">/mês</span></div>
            <ul class="plans__list">
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos básico</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Estatísticas e infográficos premium</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Download de conteúdos</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Infográficos personalizados *</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Montagem de retratos setoriais *</a>
              </li>
              <li class="plans__item plans__item--selected">
                <a href="" class="plans__link">Integração com bases próprias</a>
              </li>
            </ul>
            <a href="" class="plans__sign btn">Assine agora</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="footer__logo">
          <img src="{% static 'img/logo-avec-light.png' %}"
  		 class="footer__logo-img" />
         <div class="footer__address">
           <p>SCS Q 06, Bl A, sala 403, Edificio Carioca. Asa Sul, Brasilia - Brasil</p>
           <p>contatoavecdata@gmail.com  +55 61 99112-4562</p>
         </div>
        </div>
        <div class="footer__social">
          <ul>
            <li><a href=""><img src="{% static 'img/post-twitter.svg' %}"
    		 class="footer__logo-img" /></a></li>
           <li><a href=""><img src="{% static 'img/post-facebook.svg' %}"
      class="footer__logo-img" /></a></li>
          <li><a href=""><img src="{% static 'img/post-linkedin.svg' %}"
   class="footer__logo-img" /></a></li>
          </ul>
          <p>© AVEC - CIENCIA DE DADOS </p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
