{% extends "avec/layout.html" %}

{% load staticfiles %}

{% block content %}
  <div class="container">
    <div class="row">
      <div>
        <div>
          <h2>Encontre fácilmente todos dados para suas pesquisas</h2>
          <p>Indicadores, estatisticas e previsões baseadas em informações ativas e descobertas continuas.</p>
        </div>
      </div>
      <div>
        <form action="">
          <input type="text" placeholder="Encontre estatisticas, dados e estudos" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
